/*-------------------Main do galeri kwadratowej-------------------*/

.main-kwadratowa {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  height: auto;
  background-color: lightgrey;
}

.section-kwadratowa {
  display: block;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  height: fit-content;
  text-align: center;
}

.title-kwadratowa {
  padding-bottom: 20px;
  color: orange;
  font-size: 3rem;
  font-weight: 50;
  letter-spacing: 25px;
}

.line-kwadratowa {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  bottom: 20px;
  position: relative;
  border: 1px solid orange;
}

.back-to-galerie {
  display: inline;
  width: fit-content;
  height: fit-content;
  text-align: left;
  align-items: flex-start;
  bottom: 15px;
  position: relative;
}

.p-back-to-galerie {
  color: orange;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 100;
}

.link-back-to-galerie {
  text-decoration: none;
  color: grey;
  font-size: inherit;
  transition: 0.4s;
}

.link-back-to-galerie:hover {
  color: orange;
  transition: 0.4s;
}

.text-kwadratowa {
  display: inline;
  text-align: left;
  font-size: 1.3rem;
  color: grey;
}

.section-img-kwadratowa {
  display: block;
  margin-top: 20px;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  height: fit-content;
  text-align: center;
}

.img-kwadratowa {
  width: 280px;
  height: 200px;
}

/*-------------------Footer do galeri kwadratowej-------------------*/

.footer-kwadratowa {
  display: block;
  width: auto;
  height: auto;
  background-color: lightgrey;
}

.footer-contact {
  width: 100%;
  height: 180px;
  align-items: center;
  text-align: center;
  background-color: white;
}

.tell-p {
  padding-top: 35px;
  font-size: 1.4rem;
  color: grey;
  font-weight: 500;
}

.tell-a {
  padding-left: 15px;
  font-size: 1.8rem;
  color: orange;
  text-decoration: none;
  transition: color 0.4s;
}

.tell-a:hover {
  color: grey;
  transition: 0.4s;
}

.media-nav {
  display: inline;
}

.footer-media {
  display: inline-flex;
  padding-top: 30px;
  position: static;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-info {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: 1rem;
}

.footer-entrences {
  display: inline-flex;
}

.entrences-p {
  font-size: 1.4rem;
  color: grey;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 500;
}

.copyright-nav {
  display: block;
  margin-top: 30px;
  font-size: 1.1rem;
  color: grey;
}

.copyright-list {
  text-decoration: none;
  display: inherit;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-stick {
  display: inline;
  align-items: center;
}

.footer-stick::after {
  display: inherit;
  content: "";
  height: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-right: 2px solid grey;
  align-items: center;
}

.copyright-links {
  text-decoration: none;
  color: orange;
  transition: 0.4s;
}

.copyright-links:hover {
  color: grey;
  transition: 0.4s;
}
